* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu-regular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu-medium";
  src: url("./fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("./fonts/Ubuntu-Bold.ttf");
}
body {
  font-family: "ubuntu-regular";
  background: hsl(217, 100%, 97%);
}

.bg-image {
  position: absolute;
  z-index: -1;
  width: 100%;
}

nav {
  background: transparent;
}
nav .mobile-nav {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
nav .mobile-nav li {
  list-style: none;
  margin: 0 0.6rem;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
}
nav .mobile-nav li.active {
  background: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border: none;
}

section {
  background: hsl(0, 0%, 100%);
  margin: 0.5rem 1rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 5px 15px -10px hsl(231, 11%, 63%);
  border-radius: 10px;
  /* STEP 1 */
  /* STEP 2 */
  /* STEP 3 */
  /* STEP 4 */
  /* FINISH */
}
section .header h1 {
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu-Medium";
}
section .header p {
  margin: 0.5rem 0.5rem 0 0;
  color: hsl(231, 11%, 63%);
}
section .container {
  margin: 1rem 0 2rem 0;
  display: grid;
  grid-template-rows: 1rem 1rem;
}
section .container label {
  font-size: 0.7em;
  font-family: "Ubuntu-Medium";
  color: hsl(213, 96%, 18%);
}
section .container input {
  padding: 1rem 0.5rem;
  font-size: 0.8em;
  font-family: "Ubuntu-Medium";
}
section .plan-container {
  margin: 1.8rem 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
}
section .plan-container .plan-wrapper {
  display: flex;
  background: transparent;
  align-items: center;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
  text-align: left;
  padding: 1rem;
}
section .plan-container .plan-wrapper .plan-text {
  margin-left: 1rem;
}
section .plan-container .plan-wrapper .plan-text h2 {
  font-size: 1em;
  color: hsl(213, 96%, 18%);
}
section .plan-container .plan-wrapper .plan-text p {
  color: hsl(231, 11%, 63%);
  font-size: 0.8em;
  margin: 2px 0;
}
section .plan-container .plan-duration {
  background: hsl(217, 100%, 97%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  margin-top: 1rem;
  border-radius: 10px;
}
section .plan-container .plan-duration h3 {
  font-size: 0.9em;
  text-transform: capitalize;
  color: hsl(213, 96%, 18%);
}
section .plan-container .plan-duration .toggle {
  background: hsl(213, 96%, 18%);
  position: relative;
  display: block;
  width: 2rem;
  height: 1.1rem;
  border-radius: 30px;
  border: none;
}
section .plan-container .plan-duration .toggle:after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: hsl(0, 0%, 100%);
  top: 2px;
  left: 3px;
  transition: 0.3s ease;
}
section .plan-container .plan-duration .checkbox:checked + .toggle::after {
  left: 1rem;
}
section .plan-container .plan-duration .checkbox:checked + .toggle {
  background: hsl(213, 96%, 18%);
}
section .plan-container .plan-duration .checkbox {
  position: absolute;
  visibility: hidden;
}
section .addons-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 5px;
}
section .addons-container input {
  margin-right: 0.5rem;
}
section .addons-container input.checkbox {
  width: 1.3rem;
  height: 1.3rem;
}
section .addons-container .text-wrapper h2 {
  font-size: 0.8em;
  margin-bottom: 2px;
  color: hsl(213, 96%, 18%);
}
section .addons-container .text-wrapper p {
  font-size: 0.7em;
  color: hsl(231, 11%, 63%);
}
section .addons-container .price {
  margin-left: 1rem;
  font-size: 0.8em;
  font-weight: 500;
  color: hsl(243, 100%, 62%);
}
section .subcription-container {
  background: hsl(217, 100%, 97%);
  margin: 2rem 0 1.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}
section .subcription-container .subs-header {
  border-bottom: 1px solid hsl(231, 11%, 63%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .subcription-container .subs-header .text {
  margin-bottom: 1rem;
}
section .subcription-container .subs-header .text h2 {
  font-size: 1em;
  color: hsl(213, 96%, 18%);
}
section .subcription-container .subs-header .text a {
  text-transform: capitalize;
  color: hsl(231, 11%, 63%);
}
section .subcription-container .subs-header p {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}
section .subcription-container .subs-detail {
  color: hsl(231, 11%, 63%);
}
section .subcription-container .subs-detail .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
section .subcription-container .subs-detail .text h3 {
  font-size: 0.8em;
}
section .subcription-container .subs-detail .text p {
  color: hsl(213, 96%, 18%);
}
section .total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
section .total-wrapper h3 {
  font-size: 0.9em;
  color: hsl(231, 11%, 63%);
}
section .total-wrapper p {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
}
section .finish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}
section .finish-container img {
  width: 15%;
  margin-bottom: 1rem;
}
section .finish-container h1 {
  font-size: 1.3em;
  margin-bottom: 0.5rem;
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu-Medium";
}
section .finish-container p {
  line-height: 1.5rem;
  color: hsl(231, 11%, 63%);
}

.next-button {
  position: absolute;
  background: hsl(0, 0%, 100%);
  width: 100%;
  height: 10%;
  bottom: 0.1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 -5px 20px -15px hsl(231, 11%, 63%);
}
.next-button button {
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  background: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu-Regular";
  border: none;
  border-radius: 3px;
}

.next-button.back {
  justify-content: space-between;
}
.next-button.back .back {
  margin: 0 1rem;
  background: none;
  color: hsl(231, 11%, 63%);
}

.next-button.done {
  justify-content: space-between;
}
.next-button.done button {
  background: hsl(243, 100%, 62%);
  text-transform: capitalize;
  padding: 0.7rem 1.3rem;
}
.next-button.done .back {
  margin: 1rem 0;
  background: none;
  color: hsl(231, 11%, 63%);
}/*# sourceMappingURL=App.css.map */