*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'ubuntu-regular';
  src: url('./fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'ubuntu-medium';
  src: url('./fonts/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: 'ubuntu-bold';
  src: url('./fonts/Ubuntu-Bold.ttf');
}
$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

body{
  font-family: 'ubuntu-regular';
  background: $magnolia;
}
.bg-image{
  position: absolute;
  z-index: -1;
  width: 100%;
}
nav{
  background: transparent;
  .mobile-nav{
    display: flex;
    justify-content: center;
    padding: 2rem;
    li{
      list-style: none;
      margin: 0 .6rem;
      padding: .3rem .6rem;
      border-radius: 20px;
      border: 1px solid $white;
      color: $white;
      font-size: .9em;
    }
    li.active{
      background: $light-blue;
      color: $marine-blue;
      border: none;
    }
  }
}
.desktop-nav{
  display: none;
}
section{
  background: $white;
  margin: .5rem 1rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 5px 15px -10px $cool-gray;
  border-radius: 10px;
  .header{
    h1{
      color: $marine-blue;
      font-family: 'Ubuntu-Medium';
    }
    p{
      margin: .5rem .5rem 0 0;
      color: $cool-gray;
    }
  }
  /* STEP 1 */
  .container{
    margin: 1rem 0 2rem 0;
    display: grid;
    grid-template-rows: 1rem 1rem;
    label{
      font-size: .7em;
      font-family: 'Ubuntu-Medium';
      color: $marine-blue;
    }
    input{
      padding: 1rem .5rem;
      font-size: .8em;
      font-family: 'Ubuntu-Medium';
    }
  }
  /* STEP 2 */
  .plan-container{
    margin: 1.8rem 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    .plan-wrapper{
      display: flex;
      background: transparent;
      align-items: center;
      border: 1px solid $light-gray;
      border-radius: 5px;
      text-align: left;
      padding: 1rem;
      .plan-text{
        margin-left: 1rem;
        h2{
          font-size: 1em;
          color: $marine-blue;
        }
        p{
          color: $cool-gray;
          font-size: .8em;
          margin: 2px 0;
        }
      }
    }
  }
  .plan-duration{
    background: $magnolia;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    margin-top: 1rem;
    border-radius: 10px;
    h3{
      font-size: .9em;
      text-transform: capitalize;
      color: $marine-blue;
    }
    .toggle{
      background: $marine-blue;
      position: relative;
      display: block;
      width: 2rem;
      height: 1.1rem;
      border-radius: 30px;
      border: none;
    }
    .toggle:after{
      content: '';
      position: absolute;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      background: $white;
      top: 2px;
      left: 3px;
      transition: .3s ease;
    }
    .checkbox:checked + .toggle::after{
      left: 1rem;
    }
    .checkbox:checked + .toggle{
      background: $marine-blue;
    }
    .checkbox{
      position: absolute;
      visibility: hidden;
    }
  }
  /* STEP 3 */
  .addons-container{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid $cool-gray;
    border-radius: 5px;
    input{
      margin-right: .1rem;
    }
    input.checkbox{
      width: 1.3rem;
      height: 1.3rem;
    }
    .text-wrapper{
      h2{
        font-size: .8em;
        margin-bottom: 2px;
        color: $marine-blue;
      }
      p{
        font-size: .7em;
        color: $cool-gray;
       
      }
    }
    .price{
      margin-left: 1rem;
      font-size: .8em;
      font-weight: 500;
      color: $purplish-blue;
    }
  }
  /* STEP 4 */
  .subcription-container{
    background: $magnolia;
    margin: 2rem 0 1.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    .subs-header{
      border-bottom: 1px solid $cool-gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text{
        margin-bottom: 1rem;
        h2{
          font-size: 1em;
          color: $marine-blue;
        }
        a{
          text-transform: capitalize;
          color: $cool-gray;
        }
      }
      p{
        color: $marine-blue;
        font-weight: 700;
      }
    }
    .subs-detail{
      color: $cool-gray;
      .text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        h3{
          font-size: .8em;
        }
        p{
          color:$marine-blue;
        }
      }
    }
  }
  .total-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    h3{
      font-size: .9em;
      color: $cool-gray;
    }
    p{
      color: $purplish-blue;
      font-weight: 700;
    }
  }
  /* FINISH */
  .finish-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
    img{
      width: 15%;
      margin-bottom: 1rem;
    }
    h1{
      font-size: 1.3em;
      margin-bottom: .5rem;
      color: $marine-blue;
      font-family: 'Ubuntu-Medium';
    }
    p{
      line-height: 1.5rem;
      color: $cool-gray;
    }
  }
}
.next-button{
  position: absolute;
  background: $white;
  width: 100%;
  height: 10%;
  bottom: .1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 -5px 20px -15px $cool-gray;
  button{
    padding: .7rem 1rem;
    margin-right: 1rem;
    background: $marine-blue;
    color: $white;
    font-family: 'Ubuntu-Regular';
    border: none;
    border-radius: 3px;
  }
}
.next-button.back, .next-button.done{
  justify-content: space-between;
  .back{
    margin: 0 1rem;
    background: none;
    color: $cool-gray;
  }
}
.next-button.done{
  button{
    background: $purplish-blue;
    text-transform: capitalize;
    padding: .7rem 1.3rem;
  }
}
@media (min-width: 1280px) {
  body{
    background: $white;
  }
  .bg-image{
    margin-top: 1rem;
    right: 34%;
    height: 96%;
    z-index: -2;
  }
  main{
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    .mobile-nav{
      display: none;
    }
    .desktop-nav{
      display: flex;
      flex-direction: column;
      margin: 5rem 4rem;
      width: 100%;
      .desktop-group{
        display: grid;
        grid-template-columns: .5fr 5fr;
        column-gap: 20px;
        align-items: center;
        margin-bottom: 2.5rem;
       
        .desktop-number{
          padding: .6rem .9rem;
          border-radius: 20px;
          border: 1px solid $white;
          color: $white;
          font-size: 1em;
        }
        .desktop-label{
          text-transform: uppercase;
          h5{
            font-weight: 400;
            color: $light-gray;
            
          }
          h4{
            color: $white;
            letter-spacing: .2rem;
          }
        }
      }
    }
  }
  section{
    padding: 4.5rem 8rem;
    background: none;
    box-shadow: none;
    .header{
      h1{
        font-size: 2.5em;
      }
      p{
        padding: 0;
        font-size: 1.3em;
        margin-bottom: 3rem;
      }
    }
    /*STEP 1*/
    .container{
      row-gap: 1rem;
      grid-template-rows: repeat(3, 1rem);
      width: 80%;
      
      label{
        font-size: 1em;
      }
      input{
        padding: 1.5rem 1rem;
        border-radius: 5px;
        border: 1px solid $cool-gray;
      }
    }
    /*STEP 2*/
    .plan-container{
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
      height: 25vh;
      .plan-wrapper{
        padding: 2rem 1rem;
        flex-direction: column;
        align-items: flex-start;
        img{
          width: 30%;
        }
        .plan-text{
          margin: 2rem 0 0 0;
          h2{
            font-size: 1.5em;
          }
          p{
            font-size: 1.3em;
          }
        }
      }
      .plan-wrapper:hover{
        box-shadow: 0 0 0 1px $purplish-blue;
        transition: .2s;
      }
    }
    .plan-duration{
      margin: 0;
      font-size: 1.5em;
      justify-content: space-evenly; 
      padding: 1rem 10rem;
      .toggle{
        width: 3rem;
        height: 1.5rem;
        border-radius: 30px;
        border: none;
      }
      .toggle:after{
        width: 1rem;
        height: 1cap;
        border-radius: 50%;
        background: $white;
        top: 3px;
      }
      .checkbox:checked + .toggle::after{
        left: 1.7rem;
      }
    }
    /*STEP 3*/
    .addons-container{
      grid-template-columns: .5fr 5fr .8fr;
      transition: .3s ease-in-out;
      padding: .5rem 2rem;
      .text-wrapper{
        margin: .5rem;
        h2{
          font-size: 1.3em;
        }
        p{
          font-size: 1.3em;
        }
      }
      .price{
        font-size: 1em;
        font-weight: 700;
      }
    }
    .addons-container:hover{
      box-shadow: 0 0 1px $purplish-blue;
      cursor: pointer;
    }
      /*STEP 4*/
    .subcription-container{
      padding: 1.5rem;
      .subs-header{
        padding-bottom: 1rem;
        .text{
          h2{
            font-size: 1.5em;
            margin-bottom: .5rem;
          }
          a{
            font-size: 1.3em;
            transform: .3s ease;
          }
          a:hover{
            font-size: 1.3em;
            color: $purplish-blue;
          }
        }
        p{
          font-size: 1.5em;
        }
      }
      .subs-detail{
        margin: 2rem 0 0 0;
        .text{
          font-size: 1.5em;
          p{
            color: $marine-blue;
          }
        }
      }
    }
    .total-wrapper{
      margin: 2rem 1.5rem;
      font-size: 1.5em;
    }
    /*FINISH*/
    .finish-container{
      height: 100%;
      padding: 0 5rem; 
      align-items: flex-start;

      img{
        visibility: hidden;
        width: 20%;
      }
      h1,p{
        text-align: left;
      }
      h1{
        margin: 2rem 0;
        font-size: 5em;
      }
      p{
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }
  }
  .next-button{
    position: absolute;
    left: 1px;
    bottom: 5%;
    box-shadow: none;
    background: transparent;
    button{
      padding: 1rem 2.5rem;
      margin-right: 10rem;
      font-size: 1em;
      border-radius: 8px;
      transition: .3s ease;
    }
    button:hover{
      cursor: pointer;
      background: $light-blue;
    }
  }
  .next-button.back, .next-button.done{
    background: transparent;
    .back{
      margin-left: 35rem;
      font-size: 1em;
      font-weight: 700;
      background: none;
      color: $cool-gray;
    }
    .back:hover{
      color: $marine-blue;
    }
  }
}
